{% extends 'basic.html' %} {% block title %} Register Page {% endblock %} {%
block content %}
<body class="text-center">
  <div class="container" style="margin-top: 8rem">
    <form method="POST" class="form-register" style="color: white">
      {{form.username.label()}}
      {{form.username(class="form-control",placeholder="user name")}}

      {{form.email_address.label()}}
      {{form.email_address(class="form-control",placeholder="email address")}}

      {{form.password1.label()}} 
      {{form.password1(class="form-control",placeholder='password')}} 

      {{form.password2.label()}}
      {{form.password2(class="form-control",placeholder='confirm password')}}
        <br>
      {{form.submit(class='btn btn-lg btn-block btn-primary')}}
    </form>
  </div>
</body>

{% endblock %}
